.about-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}


.about-background-image {
  background: no-repeat;
  background-image: url(https://res.cloudinary.com/dyyjvyqtn/image/upload/v1636829196/MachuPicchu-Travel_y8u6k3.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.about-container {
  align-items: center;
  background-color: #1f3541aa;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.about-header {
  color: #E8CBB1;
  font-size: 24px;
  font-weight: 400;
  margin: 20px 0px;
  text-align: center;
}

.about-text {
  color: #EDF2F3;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  margin: 0px 20px 20px 20px;
  text-align: center;
  text-justify: auto;
}

.about-scroll-text {
  bottom: 0;
  color: #E8CBB1;
  font-size: 12px;
  position: absolute;
  text-align: center;
}

@media only screen and (min-width: 750px) {
  .about-container {
    margin: 40px;
  }
  .about-header {
    font-size: 32px;
  }

  .about-text {
    font-size: 18px;
    line-height: 1.6;
    margin: 0px 30px 30px 30px;
  }

  .about-scroll-text {
    font-size: 14px;
  }
  }

  @media only screen and (min-width: 1020px) {
    .about-container {
      margin: 100px;
    }
    .about-header {
      font-size: 38px;
    }
  
    .about-text {
      font-size: 22px;
      line-height: 2;
      margin: 0px 40px 40px 40px;
    }

    .about-scroll-text {
      font-size: 16px;
    }

  }