.about {
  display: flex;
  flex-direction: column;
  position: relative;
}

.about-background-image {
  background: no-repeat;
  background-image: url(https://res.cloudinary.com/dyyjvyqtn/image/upload/v1636829196/MachuPicchu-Travel_y8u6k3.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.about-container {
  align-items: center;
  background-color: #1f3541aa;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.about-header {
  color: #E8CBB1;
  font-size: 32px;
  text-align: center;
}

.about-text {
  color: #EDF2F3;
  font-size: 18px;
  line-height: 1.5;
  margin: 20px;
  text-align: justify;
  text-justify: auto;
}

.about-scroll-text {
    background-color: #1f3541aa;
    color: #E8CBB1;
    font-size: 12px;
    bottom: 0;
    text-align: center;
}

@media only screen and (min-width: 750px) {
  .about-container {
    margin: 40px;
  }
  .about-header {
    font-size: 48px;
  }

  .about-text {
    font-size: 24px;
  }

  .about-scroll-text {
    font-size: 14px;
  }
  }