.contact-page {
  align-items: center;
  background-color: #1F3541;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  position: relative;
}

.contact-header {
  color: #E8CBB1;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

.contact-links {
  color: #EDF2F3;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: 60vh;
  justify-content: space-evenly;
}
