.contact-page {
  align-items: center;
  background-color: #1F3541;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  position: relative;
}

.contact-header {
  color: #E8CBB1;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

.contact-links {
  color: #EDF2F3;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-evenly;
}

.contact-link {
  color: #EDF2F3;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  font-weight: 400;
}

.contact-scroll-text {
  color: #E8CBB1;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

@media only screen and (min-width: 750px) {
  .contact-header {
    font-size: 48px;
  }

  .contact-scroll-text {
    font-size: 14px;
  }
  }

  @media only screen and (min-width: 1020px) {
    .contact-links {
      display: flex;
      flex-direction: row;
    }
    
    .contact-link {
      padding-right:50px;
    }
    .contact-scroll-text {
      font-size: 16px;
    }
    }