nav {
  align-items: center;
  background-color: #1F3541;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 2;
}

.navbar-hash-link {
  color: #AFD8F2;
  display: flex;
}
/* 
.nav-link{
  background-color: #1F3541;
} */