.project-title-page {
  align-items: center;
  background-color: #afd8f274;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  justify-content: center;
}

.project-title-banner {
  background-color: #1F3541;
  padding: 40px 0px;
  width: 100vw;
}

.parent-span svg {
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.parent-span:hover svg {
  fill: #E8CBB1 !important;
}

.project-title-header {
  color: #E8CBB1;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

.project-title-links {
  color: #EDF2F3;
  display: flex;
  justify-content: space-evenly;
}

.project-title-links:hover {
  color: #E8CBB1;
}

.project-title-scroll-text {
  bottom: 0;
  color: #E8CBB1;
  font-size: 12px;
  position: absolute;
  text-align: center;
}

@media only screen and (min-width: 750px) {
  .project-title-links {
    color: #EDF2F3;
    display: flex;
    justify-content: center;
  }
}