.project-title-page {
  align-items: center;
  background-color: #afd8f282;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  justify-content: center;
}

.project-title-banner {
  background-color: #1F3541;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100vw;
}

.project-title-header {
  color: #E8CBB1;
  font-size: 32px;
  text-align: center;
}

.project-title-scroll-text {
  bottom: 0;
  color: #E8CBB1;
  font-size: 12px;
  position: absolute;
  text-align: center;
}