.project-page {
  align-items: center;
  background-color: #1F3541;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  justify-content: center;
}

.project-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.project-screenshot {
  border-radius: 30px;
  border: #EDF2F3 solid 4px;
  width: 200px;
}

.project-description-header, .project-resources-header{
  color: #E8CBB1;
  font-size: 18px;
  margin-top: 15px;
}

.project-description-text, .project-resources-text {
  color: #EDF2F3;
  font-size: 14px;
  margin: 10px 20px;
}

.project-scroll-text {
  bottom: 0;
  color: #E8CBB1;
  font-size: 12px;
  position: absolute;
  text-align: center;
}